#contentPane {
	background : white;
}
Button {
	text-color : red;
	background : vertical-gradient(red, white);
	background-radius : 100;
}
Button:hovered {
	text-color : green;
}
Button:pressed {
	background : vertical-gradient(red, #CCCCCC);
}
TextField {
	background : vertical-gradient(white, blue);
	background-radius : 100;
}
TextField:focused {
	background : vertical-gradient(black, green);
}
#foo {
	text-color : blue;
}
